<form action="/register" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label for="firstname" style="color: white" class="label">First Name</label>
        <input class="input" id="firstname" type="text" placeholder="Enter first name" name="firstName">
      </div>
      <div class="field">
        <label for="lastname" style="color: white" class="label">Last Name </label>
        <input class="input" id="lastname" type="text" placeholder="Enter last name" name="lastName">
      </div>
    </div>
  </div>
  <div class="field">
    <label for="email" style="color: white" class="label">Email</label>
    <input class="input" id="email" type="text" placeholder="Enter email" name="email">
  </div>
  <div class="field">
    <label for="password" style="color: white" class="label">Password</label>
    <input class="input" id="password"type="password" placeholder="Enter Password" name="password">
  </div>
  <div class="field is-grouped">
    <button class="button is-link" style="background-color: rgb(103, 168, 233);">Create Student Account</button>
  </div>
  <div class="field is-grouped">
    <button class="button is-link" style="background-color: rgb(103, 168, 233);">Create homeowner Account</button>
  </div>
</form>